<div class="user-thumbnail" border = 1>
  <div class="text-center">
    <a href="#profile">
      <%= image_tag(image_url("/logo1.jpg"), size: "75x75") %> <br/>
        User <%= id %>
    </a>
  </div>
</div>
